.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 370px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 0 7px 10px #00000026;
}

.card__image {
  margin-bottom: 1rem;
  width: 100%;
  aspect-ratio: 370 / 390;
}

@media (width >= 768px) {
  .card {
    max-width: 335px;
  }

  .card__image {
    aspect-ratio: 335 / 250;
  }
}

@media (width >= 1024px) {
  .card {
    max-width: 320px;
  }

  .card__image {
    aspect-ratio: 320 / 200;
  }
}

.card__content {
  margin: 0.8rem;
}

.card__heading {
  margin-bottom: 1rem;
}

.card__text {
  margin-bottom: 3rem;
}

.card__footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card__button-group {
  display: inline-block;
}

.card__button {
  cursor: pointer;
  border: 1px solid #828282;
  border-radius: 5px;
  padding: 0.6rem 0.5rem;
  margin-right: 10px;
  font-weight: 600;
}

.card__button:hover {
  color: white;
  background-color: #828282;
  border: 1px solid white;
}

.card__button:last-child {
  margin-right: 0;
}

.card__counter {
  align-self: center;
  font-weight: 600;
}
