.card {
  display: flex;
  width: 400px;
  background-color: hotpink;
  margin: 0.8rem;
}

article {
 
}

.card__image {
  margin: 0;
}

.card__heading {

}

.card__text {

}

.card__footer {

}

.card__button {

}

.card__counter {

}


