.news-section {
  display: flex;
  flex-direction: column;
  margin: 2.3rem 0.2rem 3.9rem;
}

.news-section__heading {
  border-bottom: 1px solid #434343;
  font-weight: 900;
  font-size: 1.3rem;
  padding-bottom: 0.5rem;
  margin-bottom: 2rem;
}

.news-section__articles {
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  gap: 15px;
}

@media (width >= 768px) {
  .news-section__articles {
    flex-flow: row wrap;
    justify-content: center;
    gap: 35px;
  }
}

@media (width >= 1024px) {
  .news-section__articles {
    gap: 25px;
  }
}
